.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

body {
    background-color: #142850;
}

h1, h2, h3, h4, h5, h6, h7, h8, label, p, span {
    color: white;
}

table {
    width: 100%;
}

.card-body {
    background-color: #27496D;
}

.carousel-inner {
    height: 300px;
}